@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
font-family: 'Noto Sans JP', sans-serif;
}

a{
  text-decoration: none;
  color:#fff;
}

/* .container{

} */

.header{
  background-color: #212529;
  height: 12vh;
  position: sticky;
  color:#fff;
  
}

nav{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

.logo{
  flex:1;
  font-size: 34px;
  text-transform: uppercase;
}

.heading{
  flex:1;
  list-style-type: none;
}

ul{
  display: flex;
  justify-content: space-between;
}

.showcase{
  min-height: 95vh;
  background-color: #212529;
  color:#fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text{
  width: 90%;
  margin: auto;
}

.text h3{
  color:blue;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.text h1{
  font-size: 50px;
  text-align: center;
}

.gallery{
  display: flex;
}

.photo{
  height: 400px;
  width:437px; 
  background-repeat: no-repeat;
  background-size: 480px 400px;
  position: relative;

}

.photo.img1{
  background-image: url(./images/1.png);
}

.photo.img2{
  background-image: url(./images/2.jpg);
}

.photo.img3{
  background-image: url(./images/3.jpg);
}

.gallery-text{
  background-color: rgb(87, 87, 197);
  color:#fff;
  height: 300px;
  width: 300px;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  bottom:0;
  display: none;
}

.photo:hover .gallery-text{
  display: block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  scale: 0.98;
}


.moreworks{
  background-color: #212529;
  min-height: 15vh;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services{
  max-width: 90%;
  margin: auto;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
  

}

.servies-category{
  padding: 50px;
}

.icon{
  color:rgb(88, 199, 236);
  font-size: 50px;
  margin-bottom: 30px;
}

.servies-category h3{
  margin-bottom: 30px;
  font-size: 26px;
  font-size: 100;
}

.servies-category p{
  font-size: 15px;
  line-height: 26px;
  opacity: 0.8;
}

.starttalking{
  min-height: 70vh;
  background-color: rgb(88, 199, 236);
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.starttalking h2{
  padding: 0 0 40px;
  font-size: 45px;

}
.starttalking-btn{
  padding: 15px 35px;
  color: #fff;
  background-color: rgb(88, 199, 236);
  border: 1px solid #fff;
  cursor: pointer;
}

.starttalking-btn:hover{
  color:rgb(88, 199, 236);
  background-color: #fff;
  transition: 0.3s ease;
}