@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
font-family: 'Noto Sans JP', sans-serif;
}

a{
  text-decoration: none;
  color:#fff;
}
.container{

}

.header{
  background-color: #212529;
  height: 12vh;
  position: sticky;
  color:#fff;
  
}

nav{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

.logo{
  flex:1;
  font-size: 34px;
  text-transform: uppercase;
}

.heading{
  flex:1;
  list-style-type: none;
}
ul{
  display: flex;
  justify-content: space-between;
}
